.debeug{
  outline: 2px dashed var(--debeug-color) ;
}

.bg-dark {
  background-color: #12002b;
}

.main {
  
  flex: 1;
}

.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important; /* 1 */
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important; /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important; /* 3 */
}

.ui-form{
  // display: flex;
  // justify-content:center;
  // align-items: center;
}

.btn {
  --styles:var(--white-color);
  --color:var(--black-color);
  display: block;
  width: 100%;
  padding: .5rem;
  font-size: 1.1rem;
  font-weight: bold;
  border-color: var(--styles);
  background:var(--styles);
  color:var(--color);

  &.sign-in-button{
    --styles:var(--primary-color);
    --color:var(--white-color);
    //  margin-top: 1rem;
  }

  &.cancel-button{
    --styles:var(--debeug-color);
    --color:var(--white-color);
  }

  &.freezed-button {
    margin-top: 1rem;
  }

  &.transaction-button{
    --styles:var(--secondary-color);
    --color:var(--white-color);
  }

  &:disabled{
    --styles:grey;
    --color:var(--white-color)
    cursor: not-allowed;
  }
}