.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.313rem var(--reg-spacing);
  background-color: var(--white-color);
  column-gap:.5rem;

  a {
    font-weight: bold;
    color: var(--secondary-color);

    &.router-link-exact-active {
      color: var(--primary-color);
    }
  }

  &-item {
    text-decoration: none;
    margin-right: 0.5rem;
    position: relative;

    &:hover{
      cursor: pointer;
      text-decoration: underline;

      .another-datas{
        --op:1;
      }

      i {
        color:var(--primary-color);
      }
    }

    &.logout{
      padding: .5rem;
      background: none;
      border: none;
      font-size: 1rem;
      // font-weight: bold;
      color: var(--secondary-color);
    }

    .another-datas {
      --sizes:200px;
      --op:0;
      position: absolute;
      top: 200%;
      right: 0%;
      width: var(--sizes);
      background-color: var(--white-color);
      padding:.5rem;
      border-radius: 0 0 10px 10px;
      opacity: var(--op);
      transition: var(--reg-transi);
    }

    > i {
      margin-right: 8px;
    }

  }

  &-logo {
    display: flex;
    align-items: center;

    &-image{
      max-width: 100%;
      width: 200px;
    }

  }
  
}

